


footer{
    display:flex;
    color: blue;
    justify-content: center;
}
.logo-sign img{
    height: 60px;
}

.jbt{
    min-width: 585px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    margin: 30px 50px 30px 50px;
    border: 0.08em solid black;
}
.deals{
    display: flex;
    gap: 25px;
}