
body{
    background-color: rgb(5, 94, 5);
  
    padding-bottom: 25px;
}
.jumbo{
    border: solid;
}

footer{
    display:flex;
    color: tan;
    justify-content: center;
   
    margin-bottom: 30px;
}
.logo-sign img{
    height: 60px;
}
hr{
    background-color: tan;
}

.jbt{
    min-width: 585px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    margin: 30px 50px 30px 50px;
    border: 0.2em solid rgb(127, 80, 18);
    color: tan;
}
.deals{
    display: flex;
    gap: 25px;
}
.monthly-deal{
    display: flex;
    justify-content: center;
    font-weight: 900;
    font-size: 100px;
    text-decoration: underline;
    color:tan;
    font-style: italic;
    

}
.summer{
    display: flex;
    justify-content: center;
    font-weight: 900;
    font-size: 100px;
    text-decoration: underline;
    color:tan;
    font-style: italic;
}

.daily{
    display: flex;
    justify-content: center;
    font-weight: 900;
    font-size: 100px;
    text-decoration: underline;
    color:tan;
    font-style: italic;

}
#last-minute{
    display: flex;
    justify-content: center;
    font-weight: 900;
    font-size: 100px;
    text-decoration: underline;
    color:tan;
    font-style: italic;

}
.company{
    display: flex;
    gap: 75px;
    justify-content: center;

}
.name{
  
    flex-direction: row;
}

.comments{
    display: flex;
    justify-content: center;
    font-weight: 900;
    font-size: 100px;
    text-decoration: underline;
    color:tan;
    font-style: italic;
}

.customers{
    display: flex;
    justify-content: center;
    height: 200px;
    border: solid tan;
    color: tan;
}
.ddtext{
    color:tan;
    
}
.btbgc{
    background-color: rgb(127, 80, 18);
}
.sbt{
    background-color: tan;
    color:rgb(127, 80, 18);
}


